$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$bg-color:#dadad9;
$green-color: #60992d;
$lt-blue-color:#0094c6;
$dk-blue-color:#5a2fc6;
$full-width: 100%;

html {
  height:100%
}

body {
  font: 100% $font-stack;
  background-color: $bg-color;
  text-color: $primary-color;
}
.current {
color: $green-color;
}
/*
footer{
position: fixed;
  left: 0;
  bottom: 0;
  width: $full-width;
  text-align: center;
}
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.wrapper {
<<<<<<< HEAD
  height:100%;
  grid-template-rows:auto 1fr 1fr auto;
=======
>>>>>>> parent of 352aa88... many sass changes
  display: grid;
  gap: 20px;
  grid-template-areas:
    "header"
    
    "nav"
    
    "content"
    "sidebar"
    "footer";
}
.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}

.main-nav {
  grid-area: nav;
}

.side {
  grid-area: sidebar;
}
.main-footer {
  grid-area: footer;
}

@media (min-width: 500px) {
  .wrapper {
<<<<<<< HEAD
    grid-template-rows:auto 1fr 1fr auto;
    grid-template-columns: 2fr 2fr;
=======
    grid-template-columns: 1fr 3fr;
>>>>>>> parent of 352aa88... many sass changes
    grid-template-areas:
      "header  header"
      "nav     nav"
      "sidebar content"
      "footer      footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-rows:auto 1fr 1fr auto;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header  header"
      "content content sidebar"
      "content content sidebar"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}
